{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Customer</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Emailaddress</th>
                <td>{{ entity.emailaddress }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ entity.phonenumber }}</td>
            </tr>
            <tr>
                <th>Addressline1</th>
                <td>{{ entity.addressline1 }}</td>
            </tr>
            <tr>
                <th>Addressline2</th>
                <td>{{ entity.addressline2 }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ entity.state }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ entity.zip }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('demo_taskcustomer') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('demo_taskcustomer_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('demo_taskcustomer_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
